*{margin: 0;
    padding: 0;}
    
    button{
        font-size: 0.4em;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid rgb(218, 175, 37);
        box-shadow: 2px 2px 10px rgb(139, 95, 13);
        color: blanchedalmond;
        background-color: rgb(226, 131, 43);
    }
    button:hover{ background-color: rgb(153, 78, 7);}
     a{
        font-style: oblique;
    }
      /*aca empezamos con el primer grid del index principal*/
      .conteiner{
        display: grid;
        grid-template-columns:repeat(4, 25%) ;
        grid-template-rows: 100px 600px 600px 400px 600px;
       grid-template-areas:
       "nav nav nav nav"
       "presentacion presentacion presentacion presentacion"
       "nosotros nosotros nosotros nosotros"
        "productos productos productos productos"
        "footer footer footer footer" ;  
    }
     .nav{display: grid;
        grid-area: nav;
        background-color:white;
       
    }
      .presentacion{display: grid;
        grid-area: presentacion;
        background-color: brown;
    }
      .nosotros{display: grid;
        grid-area: nosotros;
        background-color: rgb(183, 226, 43);
    }
    .productos{display: grid;
        grid-area: productos;
    background-color: white;
    }
     .footer{display: grid;
        grid-area: footer;
        background-color: rgb(255, 136, 127);
    }
      /*aca vamos a hacer el grid del index productos*/
      .conteiner2{
        display: grid;
        grid-template-columns:repeat(4, 25%) ;
        grid-template-rows: 100px 600px 600px ;
       grid-template-areas:
       "nav nav nav nav "
       "productos productos productos productos"
        "footer footer footer footer" ;  
    }
      .nav{display: grid;
        grid-area: nav;
        background-color:white;
       
    }
      .productos3{display: grid;
        grid-area: productos;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        display: flex;
    }
    .productos2 h1{ 
        text-align: center;
    }
      /*aca empezamos a darle estilo con css*/
      /*menu*/
      nav{
        display: flex;
        justify-content: flex-end;
        justify-content: space-around; 
    }
    .nav a{
        text-decoration: none;
        padding: 50px;
        }
        .logo{
             display: flex;
            margin: 0px 0px 0px 00px;
            max-height: 100px;
            }
       
            /*presentacion*/
      .presentacion{display: flex; 
        justify-content: center;
        background-color: black;
        background-image: url("../imagenes/presenta.jpeg");
        color: white;
        text-align: center;
        align-items: center;
       }
    .section{
        text-align: center;
         }
    /* aca va el sillon con su/ nosotross*/
     .nosotros{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: white;
        align-items: center;
       }
       .nosotros p{
        width: 100%;
        text-align: justify;
        font-size: 20px;
        padding: 20px;
       }
    .nosotros img{
        width: 50%;
        display: inline-flex;
    }
      /*aca arranca la seccion de productos*/
    .flex-productos{
        display: flex;
        overflow: hidden;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
        justify-content: space-around;
    }
      .flex-productos img{
        display: flex;
        flex-direction: column;
        height: auto;
        max-height:300px;
        border: 2231px solid rgb(61, 23, 8);
    }
  .productos h1{
        text-align: center;
        background-color: rgb(232, 182, 107);
    }
    .footer{
       color: #f7f3e8;
      padding: 4% 4% 0% 4%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    /* aca tenemos el index4 le vamos a dar estilo con css*/
        .productos2{
        display: flex;
        overflow: hidden;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
        justify-content: space-around;
    }
    .flex-productos img{
        display: flex;
        flex-direction: column;
        height: auto;
        max-height:300px;
        border: 2px solid salmon;
    }
    .productos2 h1{
        justify-content: center;
        text-align: center;
        background-color: rgb(239, 217, 217);
    }
    
    
    
 /*aqui comenzamos a hacer la vista para tablet*/
    
    @media screen and (max-width:928px){
    
        .conteiner{
            display: grid;
            grid-template-columns:repeat(2, 50%) ;
            grid-template-rows: 100px 600px 600px 50% 600px;
           grid-template-areas:
           "nav nav "
           "presentacion presentacion "
           "nosotros nosotros "
           "productos productos"
           "footer footer " ;  
        }
     .nav{
        display: flex;
        display: grid;}
     .nav{
        display: flex;
       text-align: center;   
    }
    .nav a{
        padding: none;
        background-color: rgb(254, 254, 254);
        text-align: center;
    }
    .nav img{
        display: none;
    }
      /*presentacion*/
    .presentacion{
        display: grid;
    }
    
    /*aca va el sillon con su p*/
    
    .nosotros{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: white;
        align-items: center;
       }
       .nosotros p{
        width: 100%;
        text-align: justify;
        font-size: 20px;
        padding: 20px;
       }
    .nosotros img{
        width: 50%;
        display: inline-flex;
    }
      /*mejoramos la parte de productos "fotos"*/
    
    .productos{ display: flex;
        justify-content: center;
        display: grid;
        grid-area: productos;
       
       
    }
    .flex-productos{  display: flex;
        display: grid;
       justify-content: center;
      }
     .flex-productos img{
        display: flex;
        max-height: 400px;
        text-align: center;
        justify-content: center;
        object-fit: cover;
    }
    .productos h1{
        text-align: center;
    }
    /*footer*/
    .footer{
        display: grid;
    }
       
    /*aca vamos a hacer el grid del index productos*/
     .conteiner2{
        display: grid;
        grid-template-columns:repeat(2, 50%) ;
        grid-template-rows: 100px 1500px 600px ;
       grid-template-areas:
       "nav nav"
       "productos productos"
       "footer footer " ;  
    }
     .nav{display: grid;
        grid-area: nav;
        background-color:white;
       
    }
      .productos2{display: grid;
        display: flex;
       justify-content: center;
        grid-area: productos;
    }
    .flex-productos img{
        display: flex;
        max-height: 400px;
        text-align: center
    }
    .productos2 h1{
        text-align: center;
        justify-content: center;
    }
    }
      /************aca comenzamos con modo celular********************************/
    @media screen and (max-width:680px){
    .conteiner{
            display: grid;
            grid-template-columns:repeat(1, 100%);
            grid-template-rows: 600px 600px 600px 50% 600px;
           grid-template-areas:
           "nav"
           "presentacion"
           "nosotros"
           "productos"
           "footer";  
        }
     nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: grid;
        background-color:  rgb(231, 150, 44);}
        .nav{
        display: flex;
        text-align: center;   
    }
    .nav a{
        padding: none;
        background-color: rgb(254, 254, 254);
        text-align: center;
    }
    .nav img{
        display: none;
    }
    
    /*presentacion*/
    .presentacion{
        display: grid;
        align-items: center;
        text-align: center;
       }
     /*aca va el sillon con su p*/
    
    .nosotros{
        width: 100%;
        display: flex;
         justify-content: center;
        text-align: center;
        background-color: rgb(232, 179, 114);
        align-items: center;
       }
     .nosotros p{
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 20px;
       }
    .nosotros img{display: none;
    }
     /*mejoramos la parte de productos "fotos"*/
    
    .productos{ display: flex;
        justify-content: center;
        display: grid;
        grid-area: productos;
        width: 100%;
        ; }
    .flex-productos{  display: flex;
        display: grid;
       justify-content: center; 
       width:100%;
    }
     .flex-productos img{
        display: flex;
        text-align: center;
        width: 100%;
       
        border: none ;
        justify-content: center; 
    }
    .productos h1{
        text-align: center;
    }
    /*footer*/
    .footer{
        display: grid;
        text-align: center;
    }
        /*aca vamos a hacer el grid del index productos*/
     .conteiner2{
        display: grid;
        grid-template-columns:repeat(1, 100%) ;
        grid-template-rows: 600px 1500px 600px ;
       grid-template-areas:
       "nav nav"
       "productos productos"
       "footer footer " ;  
    }
    
    .nav{display: grid;
        grid-area: nav;
        background-color:white;
       
    }
    
    .productos2{display: grid;
        display: flex;
       justify-content: center;
        grid-area: productos;
    }
    .flex-productos img{
        display: flex;
        max-height: 400px;
        text-align: center
    }
    .productos2 h1{
        text-align: center;
        justify-content: center;
    }
    
    
    }